.background-rose[data-v-4f9560c8] {
  background: #e7556d;
}
.background-plum[data-v-4f9560c8] {
  background: #a846af;
}
.background-black[data-v-4f9560c8] {
  background: #000;
}
.background-white[data-v-4f9560c8] {
  background: #fff;
}
.background-indigo[data-v-4f9560c8] {
  background: #313186;
}
.text-black > [data-v-4f9560c8] {
  color: #000;
}
.text-white > [data-v-4f9560c8] {
  color: #fff;
}
.block-wrapper[data-v-4f9560c8] {
  overflow-y: hidden;
}
.block-list[data-v-4f9560c8],
.block-wrapper[data-v-4f9560c8] {
  position: relative;
}
.background-image[data-v-4f9560c8],
.background-image[data-v-4f9560c8] .vv-picture {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.background-image[data-v-4f9560c8] .vv-picture img {
  width: 100%;
}
.background-color[data-v-4f9560c8] {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.background-color.background-rose[data-v-4f9560c8] {
  background: #e7556d;
}
.background-color.background-rose-muted[data-v-4f9560c8] {
  background: #f68698;
}
.background-color.background-plum[data-v-4f9560c8] {
  background: #a846af;
}
.background-color.background-plum-muted[data-v-4f9560c8] {
  background: #d4b2d6;
}
.background-color.background-black[data-v-4f9560c8] {
  background: #000;
}
.background-color.background-white[data-v-4f9560c8] {
  background: #fff;
}
.background-color.background-indigo[data-v-4f9560c8] {
  background: #313186;
}
.background-color.background-indigo-muted[data-v-4f9560c8] {
  background: #b7b7e5;
}
.background-color.background-peach[data-v-4f9560c8] {
  background: #ed8a7c;
}
.background-color.background-peach-muted[data-v-4f9560c8] {
  background: #f0aca2;
}
.background-color.background-gold[data-v-4f9560c8] {
  background: #ecb43f;
}
.background-color.background-gold-muted[data-v-4f9560c8] {
  background: #f1c466;
}
.background-color.background-tangerine[data-v-4f9560c8] {
  background: #f4901c;
}
.background-color.background-tangerine-muted[data-v-4f9560c8] {
  background: #f3ae5e;
}
.background-color.background-siriusxm-blue[data-v-4f9560c8] {
  background: #005baa;
}
.background-color.background-stitcher-blue[data-v-4f9560c8] {
  background: #3391c4;
}
.background-color.background-siriusxm-blue-muted[data-v-4f9560c8] {
  background: #77c0ff;
}
.background-color.background-stitcher-blue-muted[data-v-4f9560c8] {
  background: #97c9e4;
}
.slot[data-v-4f9560c8] {
  position: relative;
}
.background-rose[data-v-56c32192] {
  background: #e7556d;
}
.background-plum[data-v-56c32192] {
  background: #a846af;
}
.background-black[data-v-56c32192] {
  background: #000;
}
.background-white[data-v-56c32192] {
  background: #fff;
}
.background-indigo[data-v-56c32192] {
  background: #313186;
}
.text-black > [data-v-56c32192] {
  color: #000;
}
.text-white > [data-v-56c32192] {
  color: #fff;
}
.scrolling-text[data-v-56c32192] {
  overflow: hidden;
  position: absolute;
  display: flex;
  top: 100%;
  left: 0;
  font-weight: 700;
  transform: rotate(-90deg) translateY(-0.05em);
  transform-origin: left top;
  white-space: nowrap;
}
@media (max-width: 1439px) {
  .scrolling-text[data-v-56c32192] {
    font-size: calc(92.95775px + 1.87793vw);
  }
}
@media (min-width: 1440px) {
  .scrolling-text[data-v-56c32192] {
    font-size: calc(38.84571px + 5.63571vw);
  }
}
@media (max-width: 767px) {
  .scrolling-text[data-v-56c32192] {
    font-weight: 300;
    top: 0;
    left: 0;
    right: 0;
    transform: none;
    padding: 5px 0;
  }
}
@media (max-width: 1439px) and (max-width: 375px) {
  .scrolling-text[data-v-56c32192] {
    font-size: 100px;
  }
}
@media (max-width: 1439px) and (min-width: 1440px) {
  .scrolling-text[data-v-56c32192] {
    font-size: 120px;
  }
}
@media (min-width: 1440px) and (max-width: 1440px) {
  .scrolling-text[data-v-56c32192] {
    font-size: 120px;
  }
}
@media (min-width: 1440px) and (min-width: 2560px) {
  .scrolling-text[data-v-56c32192] {
    font-size: 183.12px;
  }
}
@media (max-width: 767px) and (max-width: 1439px) {
  .scrolling-text[data-v-56c32192] {
    font-size: 14px;
  }
}
@media (max-width: 767px) and (max-width: 1439px) and (max-width: 375px) {
  .scrolling-text[data-v-56c32192] {
    font-size: 14px;
  }
}
@media (max-width: 767px) and (max-width: 1439px) and (min-width: 1440px) {
  .scrolling-text[data-v-56c32192] {
    font-size: 14px;
  }
}
@media (max-width: 767px) and (min-width: 1440px) {
  .scrolling-text[data-v-56c32192] {
    font-size: calc(4.532px + 0.6575vw);
  }
}
@media (max-width: 767px) and (min-width: 1440px) and (max-width: 1440px) {
  .scrolling-text[data-v-56c32192] {
    font-size: 14px;
  }
}
@media (max-width: 767px) and (min-width: 1440px) and (min-width: 2560px) {
  .scrolling-text[data-v-56c32192] {
    font-size: 21.364px;
  }
}
.content[data-v-56c32192] {
  width: 200%;
  display: flex;
  animation: marquee-data-v-56c32192 60s linear infinite reverse;
}
@media (max-width: 767px) {
  .content[data-v-56c32192] {
    -webkit-animation: marquee-data-v-56c32192 60s linear infinite forwards;
    animation: marquee-data-v-56c32192 60s linear infinite forwards;
    width: 300%;
  }
}
.scroller[data-v-56c32192] {
  display: flex;
  justify-content: space-around;
  width: 33%;
}
.text[data-v-56c32192] {
  display: flex;
  align-items: center;
}
.label[data-v-56c32192] {
  line-height: 0.8;
  text-transform: uppercase;
  position: relative;
  width: 100%;
}
@media (max-width: 767px) {
  .label[data-v-56c32192] {
    line-height: 1;
    width: auto;
    text-transform: none;
  }
}
@supports (-webkit-text-stroke: 1px #fff) {
  .label[data-v-56c32192] {
    -webkit-text-stroke: 1px #fff;
    color: transparent;
  }
  .text-black .label[data-v-56c32192] {
    -webkit-text-stroke: 1px #000;
  }
  @media (max-width: 767px) {
    .label[data-v-56c32192] {
      -webkit-text-stroke: 0 !important;
      color: #fff;
    }
    .text-black .label[data-v-56c32192] {
      color: #000;
    }
  }
}
.line[data-v-56c32192] {
  width: 125px;
  height: 15px;
  border: 1px solid #fff;
  display: inline-block;
  position: relative;
  margin-left: 20px;
  margin-right: 30px;
}
.text-black .line[data-v-56c32192] {
  border-color: #000;
}
@media (max-width: 767px) {
  .line[data-v-56c32192] {
    width: 40px;
    height: 1px;
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
  }
}
@-webkit-keyframes marquee-data-v-56c32192 {
  0% {
    transform: transalteX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
@keyframes marquee-data-v-56c32192 {
  0% {
    transform: transalteX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.background-rose[data-v-4c3f8866] {
  background: #e7556d;
}
.background-plum[data-v-4c3f8866] {
  background: #a846af;
}
.background-black[data-v-4c3f8866] {
  background: #000;
}
.background-white[data-v-4c3f8866] {
  background: #fff;
}
.background-indigo[data-v-4c3f8866] {
  background: #313186;
}
.text-black > [data-v-4c3f8866] {
  color: #000;
}
.text-white > [data-v-4c3f8866] {
  color: #fff;
}
.ghost-text[data-v-4c3f8866] {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
}
.ghost-text.center[data-v-4c3f8866] {
  align-items: center;
}
.ghost-text.top[data-v-4c3f8866] {
  align-items: flex-start;
}
.ghost-text.bottom[data-v-4c3f8866] {
  align-items: flex-end;
}
.ghost-text.right[data-v-4c3f8866] {
  justify-content: flex-end;
}
.ghost-text.left[data-v-4c3f8866] {
  justify-content: flex-start;
}
.left.top .rotate[data-v-4c3f8866] {
  font-weight: 700;
  line-height: 0.8;
  text-transform: uppercase;
  transform: rotate(-90deg) translateX(-100%) translateY(1.3em);
  transform-origin: top left;
}
@media (max-width: 1439px) {
  .left.top .rotate[data-v-4c3f8866] {
    font-size: calc(45.91549px + 3.75587vw);
  }
}
@media (min-width: 1440px) {
  .left.top .rotate[data-v-4c3f8866] {
    font-size: calc(32.37143px + 4.69643vw);
  }
}
@media (max-width: 1439px) and (max-width: 375px) {
  .left.top .rotate[data-v-4c3f8866] {
    font-size: 60px;
  }
}
@media (max-width: 1439px) and (min-width: 1440px) {
  .left.top .rotate[data-v-4c3f8866] {
    font-size: 100px;
  }
}
@media (min-width: 1440px) and (max-width: 1440px) {
  .left.top .rotate[data-v-4c3f8866] {
    font-size: 100px;
  }
}
@media (min-width: 1440px) and (min-width: 2560px) {
  .left.top .rotate[data-v-4c3f8866] {
    font-size: 152.6px;
  }
}
.left.center .rotate[data-v-4c3f8866] {
  font-weight: 700;
  line-height: 0.8;
  text-transform: uppercase;
  transform: rotate(-90deg) translateX(-50%) translateY(1.3em);
  transform-origin: top left;
}
@media (max-width: 1439px) {
  .left.center .rotate[data-v-4c3f8866] {
    font-size: calc(45.91549px + 3.75587vw);
  }
}
@media (min-width: 1440px) {
  .left.center .rotate[data-v-4c3f8866] {
    font-size: calc(32.37143px + 4.69643vw);
  }
}
@media (max-width: 1439px) and (max-width: 375px) {
  .left.center .rotate[data-v-4c3f8866] {
    font-size: 60px;
  }
}
@media (max-width: 1439px) and (min-width: 1440px) {
  .left.center .rotate[data-v-4c3f8866] {
    font-size: 100px;
  }
}
@media (min-width: 1440px) and (max-width: 1440px) {
  .left.center .rotate[data-v-4c3f8866] {
    font-size: 100px;
  }
}
@media (min-width: 1440px) and (min-width: 2560px) {
  .left.center .rotate[data-v-4c3f8866] {
    font-size: 152.6px;
  }
}
.left.bottom .rotate[data-v-4c3f8866] {
  transform-origin: bottom left;
}
.right .rotate-wrap[data-v-4c3f8866] {
  transform: translateX(-80px);
}
.right.top .rotate[data-v-4c3f8866] {
  transform: rotate(-90deg) translateY(-100%);
  transform-origin: top right;
}
.right.center .rotate[data-v-4c3f8866] {
  transform: rotate(-90deg) translateY(-100%) translateX(50%);
  transform-origin: top right;
}
.right.bottom .rotate[data-v-4c3f8866] {
  transform: rotate(-90deg) translateX(100%);
  transform-origin: bottom right;
}
.text[data-v-4c3f8866] {
  font-weight: 700;
  line-height: 0.8;
  text-transform: uppercase;
  z-index: 5;
  position: relative;
  opacity: 0;
  transition: opacity 0.4s ease, transform 0.4s ease-in-out;
  transform: translateY(15px);
}
@media (max-width: 1439px) {
  .text[data-v-4c3f8866] {
    font-size: calc(45.91549px + 3.75587vw);
  }
}
@media (min-width: 1440px) {
  .text[data-v-4c3f8866] {
    font-size: calc(32.37143px + 4.69643vw);
  }
}
.in-viewport .text[data-v-4c3f8866] {
  opacity: 1;
  transform: translateY(0);
}
@media (max-width: 1439px) and (max-width: 375px) {
  .text[data-v-4c3f8866] {
    font-size: 60px;
  }
}
@media (max-width: 1439px) and (min-width: 1440px) {
  .text[data-v-4c3f8866] {
    font-size: 100px;
  }
}
@media (min-width: 1440px) and (max-width: 1440px) {
  .text[data-v-4c3f8866] {
    font-size: 100px;
  }
}
@media (min-width: 1440px) and (min-width: 2560px) {
  .text[data-v-4c3f8866] {
    font-size: 152.6px;
  }
}
.ghost[data-v-4c3f8866] {
  font-weight: 700;
  line-height: 0.8;
  text-transform: uppercase;
  position: absolute;
  color: #fff;
  transition: margin 0.5s ease-in-out, opacity 0.5s ease-in-out;
  background: transparent;
  overflow: hidden;
}
@media (max-width: 1439px) {
  .ghost[data-v-4c3f8866] {
    font-size: calc(45.91549px + 3.75587vw);
  }
}
@media (min-width: 1440px) {
  .ghost[data-v-4c3f8866] {
    font-size: calc(32.37143px + 4.69643vw);
  }
}
.ghost[data-v-4c3f8866]:not(.in-viewport .ghost) {
  margin-top: 0;
  opacity: 0;
}
@supports (-webkit-text-stroke: 1px #fff) {
  .ghost[data-v-4c3f8866] {
    -webkit-text-stroke: 1px #fff;
    color: transparent;
  }
  .text-black .ghost[data-v-4c3f8866] {
    -webkit-text-stroke: 1px #000;
  }
}
.ghost[data-v-4c3f8866]:first-of-type {
  margin-top: -0.6em;
  z-index: 3;
  max-height: 0.5em;
}
.ghost[data-v-4c3f8866]:nth-of-type(2) {
  margin-top: -1em;
  z-index: 2;
  transition-delay: 50ms;
  max-height: 0.35em;
}
.ghost[data-v-4c3f8866]:nth-of-type(3) {
  margin-top: -1.3em;
  z-index: 1;
  transition-delay: 0.1s;
  max-height: 0.25em;
}
@media (max-width: 1439px) and (max-width: 375px) {
  .ghost[data-v-4c3f8866] {
    font-size: 60px;
  }
}
@media (max-width: 1439px) and (min-width: 1440px) {
  .ghost[data-v-4c3f8866] {
    font-size: 100px;
  }
}
@media (min-width: 1440px) and (max-width: 1440px) {
  .ghost[data-v-4c3f8866] {
    font-size: 100px;
  }
}
@media (min-width: 1440px) and (min-width: 2560px) {
  .ghost[data-v-4c3f8866] {
    font-size: 152.6px;
  }
}
.slide-in-leave-active.ghost[data-v-4c3f8866] {
  transition: delay 0ms;
}
.slide-in-enter.ghost[data-v-4c3f8866] {
  margin-top: 0;
  opacity: 0;
}
.slide-in-leave-to[data-v-4c3f8866] {
  opacity: 0;
}
